.card .content {
  padding: 2rem;
}

.form-controll {
  width: 100%;
  max-width: 600px;
}

.tableResponsive {
  overflow: auto;
  padding: 2rem;
  margin: 30px;
  overflow-y: scroll;
  max-height: 450px;
}

td {
  min-width: 150px !important;
}

.para {
  margin-top: 30px;
  color: #ccc;
  margin-left: 40%;
}

@media (max-width: 991px) {
  .tableResponsive {
    overflow: auto !important;
    padding: 2rem;
    margin: 30px;
    width: 90%;
    overflow-y: scroll;
    max-height: 450px;
  }
}

.downloadBtn {
  width: 100%;
  max-width: 150px;
  margin: auto;
  display: block;
  background-color: #e28400;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  transition: all;
  transition-duration: 0.3s;
  box-shadow: 0 0 2px 2px #ccc;
  color: #fff;

  a {
    color: #fff;
  }

  &:hover {
    background-color: black;
  }
}

.location {
  height: "35px";
  width: "35px";
  position: "absolute";
  top: "0px";
  left: "40px";
}

.wrapper {
  margin-left: 340px;
}
