.navContainer {
  width: 260px;
  height: 100vh;
  background-color: lightskyblue;
  // position: absolute;
  position: fixed;
  // z-index: -1;
  background: #1b8dff;
  background: linear-gradient(180deg, #1b8dff 0, #414bc7);
}

.logo {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  display: grid;
  place-items: center;
  img {
    height: 80px;
    position: relative;
    left: -10px;
  }
}
.navlist {
  list-style: none;
  padding: 10px;

  li {
    // margin-bottom: 2px;
    // padding: 12px;
    border-radius: 4px;
    text-align: left;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: -2px;
    font-weight: 700;
    line-height: 1.2;
    display: flex;
    align-items: center;
    // width: 90%;
    // background: rgba(255, 255, 255, 0.23);
    opacity: 0.95;
    padding: 12px;
    margin-bottom: 2px;

    &:hover {
      color: #eee;
    }

    i {
      margin-right: 15px;
      font-size: 20px;
    }
  }
}

.active {
  background-color: red;
}

@media (max-width: 768px) {
  .navContainer {
    display: none;
  }
}
